/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
  table-layout: fixed;
  width: 100%;
  border: 3px solid #800080;
  border-collapse: collapse;
}

thead {
  background-image: url(./assets/leopardskin.jpg);
  font-family: 'Rock Salt', cursive;
  color: white;
}

thead th {
  text-align: center;
  border: 3px solid #800080;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%);
}

tbody {
  background-image: url(./assets/noise.png);
}

tbody td {
  text-align: center;
  padding: 5px;
}

tbody td:first-child {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #ff33ccaa;
}

tbody tr:nth-child(even) {
  background-color: #e495e4aa;
}

tfoot {
  background-image: url(./assets/leopardskin.jpg);
  font-family: 'Rock Salt', cursive;
  color: white;
}

tfoot td {
  border: 3px solid #800080;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%);
}

tfoot td:first-child {
  text-align: right;
  padding-right: 20px;
}

tfoot td:nth-child(2) {
  padding-left: 20px;
}
